        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Playfair+Display:wght@700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

@import "tailwindcss";
   
        html { scroll-behavior: smooth; 
        
        } /* Optional: smooth scrolling to sections */
     /* Hide scrollbar for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


body{
    overflow-x: hidden;

}

/* Smooth horizontal scroll */
.scroll-snap-x {
  scroll-snap-type: x mandatory;
}

.scroll-snap-item {
  scroll-snap-align: start;
}
